body {
    background-color: rgb(62, 70, 55) !important;
}
/* positions */
#sideBar {
    float: none !important;
    width: auto !important;
}

/* size sitebar */
.market_search_sidebar_contents {
    width: auto !important;
    padding: 12px 15px 15px 15px;
}

#sideBar>div {
    width: auto !important;
    margin-top: 0;
    /*     margin-bottom: 0 !important;
    margin-bottom: 20px; */
}


.market_search_advanced_button>.btn_details_arrow {
    right: auto !important;
}

.market_search_input_container {
    position: relative;
    display: inline-block !important;
}

.SearchButton {
    /* top: 10px; */
    display: inline-flex;
    margin: 10px 0 10px 0px;
    position: relative;
}

.market_listing_my_orders,
.market_listing_their_price {
    width: 150px !important;
    text-align: center;
}

.market_listing_my_name {
    float: left;
    padding-left: 10px;
}


/*запустить сканирование*/
#runSearchScan,
#reloadScan,
#runLoadOrder {
    margin-left: 10px;
    background-color: #8ac33e !important;
    float: right !important;
    text-align: center;
    font-style: inherit;
}

#runSearchScan,
#runLoadOrder {
    width: 150px;
}

#reloadScan {
    width: 40px;
    font-size: 20px;
}

#priceFromVal,
#priceToVal,
#minCountVal,
#minSellVal,
#minProfitVal,
#StartPageNumber,
#EndPageNumber {
    width: 80px;
    margin-right: 20px;
    margin-left: 5px;
    background-color: #373d30;
    border: none;
    border-radius: 0px;
}

.selectBlock {
    margin-top: 10px;
    margin-bottom: 10px;
}

#findItemsSearchBox {
    background-color: #373d30 !important;
    border: none !important;
}

.market_search_submit_button {
    top: 0px !important;
}


/* выпадающий список чекбоков */

.multiselect {
    color: #fff;
    width: 100%;
    background-color: rgb(79, 89, 70);
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
    border: none;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    height: 80px;
    overflow: auto;
    position: absolute;
    z-index: 1;
    background-color: #2b3125;
    width: 100%;
}

#checkboxes label {
    display: inline-block;
}

#selectOptionVal{
    border-radius:0px;
}

#checkboxes label:hover {
    background-color: #6f662f;
}


#checkboxes::-webkit-scrollbar {
    width: 8px;
    /* ширина для вертикального скролла */
    background-color: rgb(89, 101, 79);

}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: rgb(45, 51, 40);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(59, 68, 52);
}

/*item block*/

.market_listing_their_price>.market_table_value .normal_price,
.market_listing_their_price>.market_table_value {
    color: white;
    display: block;
}

.market_listing_num_listings_qty {
    display: block !important;
    margin: 5px !important;
}



.market_listing_item_name {
    margin-bottom: 8px;
    display: inline-flex;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    font-weight: bold;
    
}

.market_page_left {
    padding-top: 2em;
    max-width: none !important;
}

th:first-child,
th:first-child+th {
    display: none;
}

.entry-content div:first-child,
.entry-content div:first-child+div {
    display: none;
}

.market_listing_num_listings {
    width: 150px !important;
    text-align: center !important;
}

/* таблица цен */
.market_commodity_orders_table {
    display: inline-flex !important;
    font-size: 12px;
}

.market_commodity_orders_table th {
    margin: 0;
    text-align: center;
    min-width: none !important;
    font-size: 12px !important;
    font-weight: normal;
}

.market_commodity_orders_table td {
    min-width: min-content !important;
    text-align: center;
}

.market_listing_their_price>.market_table_value .normal_price,
.market_listing_their_price>.market_table_value {
    color: white;
    display: block !important;
}

/* блок товара размер */
market_listing_row {
    height: 160px !important;
}

/*размер колонок*/
#popularItemsRows .market_listing_price_listings_block,
#searchResults .market_listing_price_listings_block {
    min-width: 270px !important;
    float: right;
}


#popularItemsRows .market_listing_price_listings_block .market_listing_num_listings,
#searchResults .market_listing_price_listings_block .market_listing_num_listings {
    float: left;
    min-width: 10em !important;
}

.market_home_listing_table .market_listing_right_cell {
    border-left: 1px solid transparent;
    min-width: 10em !important;
}

.market_listing_row {
    margin-top: 0px !important;
    height: 135px;
    margin: 0px 0px 10px 0px;
}

.market_listing_table_header {
    display: none;
}

/* заголовки поиска */
.my_market_listing_table_header {
    background-color: #324965;
    margin-bottom: 30px !important;
    color: #AFAFAF;
    font-size: 85.7%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 8px 0 10px;
    height: 2.25em;
    vertical-align: middle;
    line-height: 2.25em;
}
