body {
    color: #FAFAFA !important;
}

/* зелёный блок */
.market_header_bg{
    display: none !important;
}

/* стиль бока поиска в истории */
.market_history_sreach{
    position: absolute;
    margin-left: 22em;
    margin-top: 13px;
}

.market_custom_tab_well_tab_contents {
    display: block;
    line-height: 22px;
    padding: 0 4px;
    margin: 0px;
    font-size: 14px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    text-align: center;
    color: #969aa1;
}

.market_table_value {
    max-height: 136px;
}
.market_listing_their_price > span.market_table_value, .market_listing_my_price > span.market_table_value, .market_listing_num_listings > span.market_table_value {
    font-size: 81.7% !important;
    line-height: 1em;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    /* margin: 10px 0; */
    margin: 0px !important;
}
.market_commodity_orders_table{
    margin: 0px !important;
}

/* блок отмена маленький */
.market_listing_edit_.button_orderss {
    width: 80px !important;
}
.market_listing_buyorder_qty , .market_my_listing_sells {
    width: 45px !important;
}
.market_listing_edit_buttons {
    width: 90px !important;
}

/* стиль кнопок */

.button_orders {
    padding: 5px 10px;
    margin: 5px;
    background: none;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: #FAFAFA;
}

.button_orders:after, .button_orders:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid rgb(255, 255, 255);
    transition: transform 0.2s;
}

.button_orders:after {
    transform: translate(3px, 3px);
}

.button_orders:before {
    transform: translate(-3px, -3px);
}

.button_orders:hover:after, .button_orders:hover:before {
    transform: translate(0);
}

/*
стиль таблиц при сканировании
*/

div [id^="priceTable"] {
    float: left;
    margin: 0px;
    padding: 0px;
}

.market_commodity_orders_table {
    margin: 10px auto;
    display: inline-flex !important;
}

.create_buy_input {
    width: 80px;
    display: block;
    margin: 5px;
    background-color: #324965;
}

/* заливка для span */
.market_listing_my_profit, .market_listing_price{
    display: inline-block !important;
    background: #2c6464ad;
    width: 100%;
    text-align: center;
}

/* таблица цен */

.market_commodity_orders_table {
    display: inline-flex !important;
    font-size: 12px;
}

.market_commodity_orders_table th {
    margin: 0;
    text-align: center;
    min-width: none !important;
    font-size: 12px !important;
    font-weight: normal;
}

.market_commodity_orders_table td {
    min-width: min-content !important;
    text-align: center;
}

th:first-child, th:first-child+th {
    display: none;
}

.min_size_table {
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}

/*
стиль истории
*/

#divMarketListingTableHeader {
    height: 38px;
}

#sreach-filter, #displayNoneListingCanceledCreated {
    margin-left: 50px;
}





/* скрол в истории */
#tabContentsMyActiveMarketListingsRows,
#tabContentsMyMarketHistory,
#custom_results_html{
    overflow:scroll;
    overflow-x:hidden;
}

#tabContentsMyActiveMarketListingsRows,
#tabContentsMyMarketHistory{
    max-height: 646px;
}

#custom_results_html{
    max-height: 460px;
}

#tabContentsMyActiveMarketListingsRows::-webkit-scrollbar,
#tabContentsMyMarketHistory::-webkit-scrollbar,
#custom_results_html::-webkit-scrollbar{
    width: 8px; /* ширина для вертикального скролла */
    background-color: #0f151e;
    
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #233347;
    border-radius: 1em;
    box-shadow: inset 1px 1px 10px #293d55;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #151f2b;
}
