.myProgressLine{
  width: 100%;
  background-color: rgb(113, 126, 97);
}

.myBarsVal {
  height: 20px;
  width: 100%;
  text-align: center;
  line-height: 20px;
  color: white;
}

.myBarsLine {
  position: absolute;
  width: 0%;
  height: 20px;

  background: repeating-linear-gradient(
    45deg,
    rgba(195, 180, 80, 0.4),
    rgba(195, 180, 80, 0.4) 10px,
    rgba(55, 61, 48, 0.4) 10px,
    rgba(55, 61, 48, 0.4) 20px
  );
}

.myBarsContent {
  margin: 4px;
  display: inline-block;
}